<head>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
    rel="stylesheet"
  />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
crossorigin="anonymous"></script>
</head>
<body>
  <mat-toolbar class="bar">
    <span class="toolbarStyle">FREE SHIPPING WORLDWIDE</span>
  </mat-toolbar>
  <div class="parallax col-sm-12">
    <div class="imageText col-sm-12">
      We make coffee for the people who love to drink it.
    </div>
    <div class="caption col-sm-9">
      Our coffee is specially roasted with your needs in mind. Shop our curated
      coffee, teas, and freshly-baked pastries now.
    </div>
  </div>
  <div class="heading col-sm-12">Déjà Brew Coffee</div>
  <div class="caption col-sm-12">
    We take pride in what we do. Our beans are hand-roasted to suit the various needs of our customers. Whether you're new to coffee or an experienced bean-consumer, we are more than happy to work together to understand your palette. 
    We believe in giving our customers farm-to-table libations that quench the ever-thirsty taste buds. 
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 img" style="align-items: center;">
        <img class="iconphoto" src="/assets/images/coffeelabel.png" alt="Italian">
      </div>
      <div class="col-sm-6" style="padding-left: 15px;">
        <div class="imgTxtHeader" style="padding-left: 15px;">
        Italian Caramel Process
        </div>
        <div class="imgTxtBody1" style="padding-left: 15px;">
          <div style="color: rgba(253, 187, 88, 0.83)">
          CARAMEL, ALLSPICE, CLOVE
          </div>
          <div>
            Rated <b>4.7</b> out of 5
          </div>
          <div class="imgTxtHeader" style="padding-top: 0px!important;">
            $21.00-$85.00
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6" style="padding-left: 15px;">
        <div class="imgTxtHeader" style="padding-left: 15px;">
        Filipino Cold Press
        </div>
        <div class="imgTxtBody1" style="padding-left: 15px;">
          <div style="color: rgba(253, 187, 88, 0.83)">
          ORANGE, NUTMEG, CHOCOLATE
          </div>
          <div>
            Rated <b>4.9</b> out of 5
          </div>
          <div class="imgTxtHeader" style="padding-top: 0px!important;">
            $25.00-$90.00
            </div>
        </div>
      </div>
      <div class="col-sm-6 img" style="align-items: center;">
        <img class="iconphoto" src="/assets/images/coffeelabel1.png" alt="Italian">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 img" style="align-items: center;">
        <img class="iconphoto" src="/assets/images/coffeelabel2.png" alt="Italian">
      </div>
      <div class="col-sm-6" style="padding-left: 15px;">
        <div class="imgTxtHeader" style="padding-left: 15px;">
        Spanish Honey Roast
        </div>
        <div class="imgTxtBody1" style="padding-left: 15px;">
         <div style="color: rgba(253, 187, 88, 0.83)">
          VANILLA, CINAMMON, BROWN SUGAR
        </div>
          <div>
            Rated <b>4.8</b> out of 5
          </div>
          <section>
            <div class="example-button-row">
              <button mat-raised-button>Basic</button>
              <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
            </div>
            </section>
          <div class="imgTxtHeader" style="padding-top: 0px!important;">
            $20.00-$80.00
            </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>


