<head>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
    rel="stylesheet"
  />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
crossorigin="anonymous"></script>
</head>
<body>
  <mat-toolbar class="bar">
    <span class="toolbarStyle">FREE SHIPPING WORLDWIDE</span>
  </mat-toolbar>
  <div class="parallax col-sm-6">
    <div class="imageText col-sm-2">
      We make coffee for the people who love to drink it.
    </div>
    <div class="caption col-sm-4">
      Our coffee is specially roasted with your needs in mind. Shop our curated
      coffee, teas, and freshly-baked pastries now.
    </div>
  </div>
  
  <div class="heading col-sm-4">Déjà Brew Coffee
  <div class="bodyText col-sm-6">
      I am quite upset that this isn't working! why is this doing this? kashdksdjhakdhfkwdjsfhk'skdhkwdsadlsdlk;lskd;lk;sldk;lk;lskd;l;ldk
  </div>
  <div class="bodyText col-sm-6">
    I am quite upset that this isn't working! why is this doing this? kashdksdjhakdhfkwdjsfhk'skdhkwdsadlsdlk;lskd;lk;sldk;lk;lskd;l;ldk
</div>


  </div>

</body>


