<head><link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <mat-toolbar class="bar">
    <span class='toolbarStyle'>FREE SHIPPING WORLDWIDE</span>
  </mat-toolbar>
  <div class="parallax">
    <div class = "imageText">
        We make coffee for the people who love to drink it.
    </div>
    <p>
      Our coffee is specially roasted with your needs in mind. Shop our curated coffee, teas, and freshly-baked pastries now.
    </p>
  </div>
    <span class="heading">Deja Bew Coffee</span>

</body>